*{
    font-family: Arial, Helvetica, sans-serif;
}

h4{
     color:#ff0000;
}
nav.menu {
    background-color:#da2d35;
    padding: 15px;
    text-align: center;
}

.menu a {
      color:#fff;
      text-decoration: none;
      font-size:20px;
}

.menu a:hover{
    text-shadow: 2px 2px 4px #000000;

}

.menu ul li{
margin-right: 15%;
display: inline-block;
vertical-align: middle;
}

.menu ul li img:hover{
    filter: drop-shadow(2px 4px 6px black);
    transition: 2s;

}

#testando{
    background-color: aqua;
}

#rodape img{
 width: 300px;
 height: 100px;
}

#rodape{
    text-align: center;
    width: 100%;
    float: left;

}

.cidade{
    display: inline-block;
    margin: 0px 140px 0 73px;
    
}



textarea{
    resize: none;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #bdbdbd;
    border: none;
}

form input {
    height: 22px;
    border-radius: 10px;
    height: 22px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #bdbdbd;
    padding: 8px;
}

button#enviar{
    width: 30%;
    transition: width 1s;
    border: none;
    padding: 8px;
    box-shadow: 2px 2px 5px #bdbdbd; 
    border-radius: 10px;
    cursor: pointer;
}

form{   
    display: inline-block;
}
.categorias{
    float: left;
}

.box_produto{
   
    width: 340px;
    height: 340px;
    float: right;
    padding: 15px;
}

.descricao{
    font-weight: bold;
}

.preco{
    color: #da2d35;
    font-weight: bold;

}
#formas_pagamento{
    color:red;
    font-weight: bold;
}

section.formulario {
    display: inline-block;
    text-align: center;
    margin: 25px 130px 0 170px;
   
}


img.imgContatoEmail{
    width: 33.5px;

}

h2{
    text-align: center;
}

img.imgContatoWhats{
    width: 33.5px;
}

.textContatoEmail {
    font-size: 20px;
    margin-left: 10px;
    vertical-align: 1.6vh;
}

.textContatoWhats {
    font-size: 20px;
    margin-left: 10px;
    vertical-align: 1.3vh;
}

.contatos {
  
    vertical-align: top;
    margin: 23px 0 0 100px;
    color: #959595;
    display: inline-block;
}

aside h3{
    text-align: center;
    margin-right: 35px;
}
ul li {
 margin:34px -6px 0 1px ;   
}